<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, minimumscale=
1.0, maximum-scale=1.0" />
	<meta name="description" content="shite">

	<title>{% if page.title %} {{ page.title }} | {% endif %} MabaLegend</title>
	<link rel="alternate" title="{{ site.title }}" type="application/json" href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
	<link href="/blog.css" rel="stylesheet">
		<link href="/index.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<meta name='robots' content='index,follow' />
		<style type="text/css">			
{% if page.cuscs %} {{ page.cuscs }} {% endif %}
</style>

</head>

<body>
<div class='allhold'>
<div class='sechold'>
	
	

		<div class="blog-header">
		<div class='headcon'>
	<h1 class="blog-title"><a href="https://mabalegend.github.io">MabaLegend</a></h1>
	<p class="lead blog-description">Mabal itb</p>
</div>
	</div>
	<div class="blog-masthead">
		<nav class="blog-nav">
			<li class="page_item"><a href="https://damzaky.github.io/blog">Blog</a></li>
			<li class='page_item'><a href="https://damzaky.github.io/demo">Demo</a></li>
			<li class="page_item"><a href="https://damzaky.github.io/generator">Generator</a></li>
			<li class="page_item"><a href="https://damzaky.github.io/about">About</a></li>
		</nav>
	</div>
	<div class="row">
<div class='rowi'>
{{ content }}
{{ site.github.public_repositories }}
{% for repository in site.github.public_repositories %}
  {% if repository.homepage!=null and repository.homepage!="https://mabalegend.github.io/" %}
  <a href='{{ repository.homepage }}'>
    {{ repository.name }}
  </a>

  {% endif %}
	<div style='background: #000;color:#fff;margin:30px;'>
	{{ repository }}
	</div>
{% endfor %}

		</div>
	</div>
		<footer class="blog-footer">
      <p><a href="https://mabalegend.github.io">MabaLegend</a>
    </footer>
 
</div>
</div>
  </body>
</html>
